.wrapper {
  overflow: auto;
  .menu_container {
    padding: 7px 12px;
    border-right: 1px solid #ececec;
    position: relative;
    background-color:#f7f7f7;
  }
  .info_container{
    padding: 2rem 4rem;
    position: relative;
  }
}