.Card {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  width: 70% !important;

}


.files_container {
  border: 1px solid #c3c7ca;
  height: 250px;
  max-width: 500px !important;
  width: 80%;
  border-radius: 10px;
}

.progress_wrapper {
  margin-top: 10px;
  width: 80%;
  max-width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;

  .progress_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

.upload_button {
  margin-top: 10px;
}